//Widget
.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}

//create a widget element selector (message) --use it on the p tag
//off white color
//no margin
//l size padding on all sides
//center the text - text align: center;
//set the bottom border to a 1px solid border lighted version of $light-blue 10%

.widget__message{
    color: $off-white;
    margin: 0;
    padding: $l-size;
    border-bottom: 1px solid lighten($light-blue, 10%)
}

//Widget Header
.widget-header{
    background-color: $blue;
    color: $off-white;
    //moves left to right with flex box
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}
//Setup an element selector for widget header
//set margin
//use the class
.widget-header__title{
    margin: 0;
}
